<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VisitorManagement.My.MySettings.visitorConnectionString"
            connectionString="Data Source=PKT2013\SQLEXPRESS;Initial Catalog=visitor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!--<add key="VYYOM" value="Data Source=.\SQLExpress; Initial Catalog=VYYOM; Integrated Security=true"/>-->
    <add key="conn" value="Data Source=PKT2013\SQLEXPRESS;  Initial Catalog=visitor; Integrated Security=true" />
  </appSettings>
</configuration>